extends layout

block content
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1#foo= title + ' test'
  p Welcome to #{title} Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to Welcome to
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
  h1= title
  p Welcome to #{title}
